/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  padding: 0.5rem 0;
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:visited {
  color: #0b0080;
}

* {
  font-family: Lato, "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-2 {
  font-family: Roboto, "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.col-1 {
  grid-column-end: span 1;
}

.col-2 {
  grid-column-end: span 2;
}

.col-3 {
  grid-column-end: span 3;
}

.col-4 {
  grid-column-end: span 4;
}

.col-5 {
  grid-column-end: span 5;
}

.col-6 {
  grid-column-end: span 6;
}

.col-7 {
  grid-column-end: span 7;
}

.col-8 {
  grid-column-end: span 8;
}

.col-9 {
  grid-column-end: span 9;
}

.col-10 {
  grid-column-end: span 10;
}

.col-11 {
  grid-column-end: span 11;
}

.col-12 {
  grid-column-end: span 12;
}

.col-13 {
  grid-column-end: span 13;
}

.col-14 {
  grid-column-end: span 14;
}

.col-15 {
  grid-column-end: span 15;
}

.col-16 {
  grid-column-end: span 16;
}

.col-17 {
  grid-column-end: span 17;
}

.col-18 {
  grid-column-end: span 18;
}

.col-19 {
  grid-column-end: span 19;
}

.col-20 {
  grid-column-end: span 20;
}

@media (max-width: 767px) {
  .col-5 {
    grid-column-end: span 4;
  }

  .col-6 {
    grid-column-end: span 4;
  }

  .col-7 {
    grid-column-end: span 4;
  }

  .col-8 {
    grid-column-end: span 4;
  }

  .col-9 {
    grid-column-end: span 4;
  }

  .col-10 {
    grid-column-end: span 4;
  }

  .col-11 {
    grid-column-end: span 4;
  }

  .col-12 {
    grid-column-end: span 4;
  }

  .col-13 {
    grid-column-end: span 4;
  }

  .col-14 {
    grid-column-end: span 4;
  }

  .col-15 {
    grid-column-end: span 4;
  }

  .col-16 {
    grid-column-end: span 4;
  }

  .col-17 {
    grid-column-end: span 4;
  }

  .col-18 {
    grid-column-end: span 4;
  }

  .col-19 {
    grid-column-end: span 4;
  }

  .col-20 {
    grid-column-end: span 4;
  }
}
.flex-25 {
  flex: 25%;
}

flex-33 {
  flex: 33%;
}

.flex-45 {
  flex: 45%;
}

.flex-50 {
  flex: 50%;
}

.flex-55 {
  flex: 55%;
}

.flex-75 {
  flex: 75%;
}

.flex-1 {
  flex: 100%;
}

.just-start {
  justify-content: flex-start;
}

.just-center {
  justify-content: center;
}

.just-end {
  justify-content: flex-end;
}

.just-around {
  justify-content: space-around;
}

.just-between {
  justify-content: space-between;
}

.just-even {
  justify-content: space-evenly;
}

.card {
  box-sizing: border-box;
  grid-row-end: span 16;
  flex: 1;
  border: 1px solid #cccccc;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 0.5rem 0;
  height: 4ch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-input {
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.form-input:focus {
  outline: 1px solid #cccccc;
}

.form-submit {
  background-color: #e6e6e6;
  color: white;
  border: 1px solid #cccccc;
  height: 100%;
  font-size: 1.5rem;
  border-radius: 2px;
}

.form-submit:focus {
  outline: 1px solid #cccccc;
}

.navbar {
  width: 100%;
  height: 5ch;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-group {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  background-color: #f9f9f9;
  font-size: 1.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}

.btn:hover {
  background-color: #e0e0e0;
}

.btn:focus {
  outline: 1px solid #cccccc;
}

.container {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  width: 100%;
  display: flex;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
}

.sidebar {
  background-color: white;
  box-sizing: border-box;
}

.main {
  background-color: white;
  box-sizing: border-box;
}

.content {
  font-size: 1rem;
  margin: 1rem 0;
}

.link {
  color: black;
}

.link:hover {
  color: #e6e6e6;
}

.primary {
  background-color: white;
  font-size: 2rem;
}

.secondary {
  background-color: white;
  font-size: 1.5rem;
}

.tertiary {
  background-color: white;
  font-size: 1rem;
}

.minor-color-1 {
  background-color: #f9f9f9;
}

.hide {
  display: none;
}

.transparent {
  opacity: 0.5;
}

.emphasize {
  font-weight: bolder;
}

.left {
  order: -1;
}

.right {
  order: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.height-50 {
  height: 50%;
}

.cntr {
  text-align: center;
}

.mrg {
  margin: 0 0.5rem;
}

.mrg:first-child {
  margin-top: 0.5rem;
}

.mrg:last-child {
  margin-bottom: 0.5rem;
}

.mrg-left {
  margin-left: auto;
}

.mrg-right {
  margin-right: auto;
}

.indent {
  margin-left: 1rem;
}

.mrg-vert {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pad {
  padding: 0.5rem;
  box-sizing: border-box;
}

.wrap {
  flex-wrap: wrap;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

@media (max-width: 767px) {
  .m-hide {
    display: none;
  }

  .m-stretch {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .m-first {
    order: -1;
  }

  .m-last {
    order: 1;
  }

  .m-pivot {
    flex-direction: column;
  }
}
#sidebar {
  border-right: 1px solid #a7d7f9;
  box-sizing: border-box;
}

.block-list > li {
  width: 100%;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  box-sizing: border-box;
  padding-left: 0.5rem;
}

.block-list > li:last-child {
  border-bottom: 1px solid #cccccc;
}

a:focus {
  outline: 1px solid #cccccc;
}

.hor-ul {
  display: flex;
}

.inline-ul {
  list-style-type: disc;
  list-style-position: inside;
}

.bul-ul {
  list-style-type: disc;
  list-style-position: inside;
}

/*# sourceMappingURL=index.css.map */
