@import "user_variables";


* {
    font-family: $main-font-family;
}

.font-2 {
    font-family: $minor-font-family;
}

$main-color-2: lighten($main-color-1, 15%);
$main-color-3: lighten($main-color-1, 30%);
$main-color-border: darken($main-color-1, 20%);
$main-color-0: darken($main-color-1, 10%);

$minor-color-2: lighten($minor-color-1, 15%);
$minor-color-3: lighten($minor-color-1, 30%);
$minor-color-border: darken($minor-color-1, 20%);
$minor-color-0: darken($minor-color-1, 10%);

// Tests
$border-test: 1px solid $main-color-border;