$main-color-1: white;
$minor-color-1: #f9f9f9;
$site-border-color: rgb(167, 215, 249);

$main-font-family: "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$minor-font-family: "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$radius: 2px;

// Choose the amount of columns in a grid
$grid-column-amount: 20;


// Break at mobile or at tablet?
$break: 767px;
// $break: 1023px;

// Site line-height
* {line-height: 1.6;}