$primary-color: #168ec5;
$font-family: Lato, "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font-family: Roboto, "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$radius: 3px;

// Break at mobile or at tablet?
$break: 767px;
// $break: 1023px;