$main-color-1: white;
$minor-color-1: #f9f9f9;

$main-font-family: Lato, "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$minor-font-family: Roboto, "Liberation Sans", "Nimbus Sans L", "FreeSans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$radius: 2px;

// Choose the amount of columns in a grid
$grid-column-amount: 20;


// Break at mobile or at tablet?
$break: 767px;
// $break: 1023px;