.container {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat($grid-column-amount, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}


@media (max-width: $break) {
    .container {
        grid-template-columns: repeat(4, 1fr)
    }
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    width: 100%;
    display: flex;
}

.header {
    // width: 100%;
    // font-size: 1rem;
    font-size: 1.05rem;
    line-height: 1.365rem;
    font-weight: 700;
    box-sizing: padding-box;
    margin-bottom: 0.525rem;
    padding: 0.21rem 0.42rem;
    border: $border-test;
    background-color: $main-color-1;
    display: flex;
    align-items: center;
}

.sidebar {
    background-color: $main-color-3;
    box-sizing: border-box;
}

.main {
    box-sizing: border-box;
}

.content {
    font-size: 1rem;
    margin: 1rem 0;
}

.link {
    color: black;
}

.link:hover {
    color: $main-color-0;
}

.spacer {
	width: 100px;
	flex: 1;
	background-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0,#f5f5f5 100%);
    background-size: 100% 100%;
}