.flex-25 {
    flex: 25%;
}

flex-33 {
    flex: 33%
}

.flex-45 {
    flex: 45%;
}

.flex-50 {
    flex: 50%;
}

.flex-55 {
    flex: 55%;
}

.flex-75 {
    flex: 75%;
}

.flex-1 {
    flex: 100%;
}

.just-start {
    justify-content: flex-start;
}

.just-center {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

.just-around {
    justify-content: space-around;
}

.just-between {
    justify-content: space-between;
}

.just-even {
    justify-content: space-evenly;
}

.self-start {
    align-self: flex-start;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: flex-end;
}

.self-stretch {
    align-self: stretch;
}