.col-1 {
    grid-column-end: span 1;
}

.col-2 {
    grid-column-end: span 2;
}

.col-3 {
    grid-column-end: span 3;
}

.col-4 {
    grid-column-end: span 4;
}

.col-5 {
    grid-column-end: span 5;
}

.col-6 {
    grid-column-end: span 6;
}

.col-7 {
    grid-column-end: span 7;
}

.col-8 {
    grid-column-end: span 8;
}

.col-9 {
    grid-column-end: span 9;
}

.col-10 {
    grid-column-end: span 10;
}

.col-11 {
    grid-column-end: span 11;
}

.col-12 {
    grid-column-end: span 12;
}

.col-13 {
    grid-column-end: span 13;
}

.col-14 {
    grid-column-end: span 14;
}

.col-15 {
    grid-column-end: span 15;
}

.col-16 {
    grid-column-end: span 16;
}

.col-17 {
    grid-column-end: span 17;
}

.col-18 {
    grid-column-end: span 18;
}

.col-19 {
    grid-column-end: span 19;
}

.col-20 {
    grid-column-end: span 20;
}

@media (max-width: $break) {
    .col-5 {
        grid-column-end: span 4;
    }
    
    .col-6 {
        grid-column-end: span 4;
    }
    
    .col-7 {
        grid-column-end: span 4;
    }
    
    .col-8 {
        grid-column-end: span 4;
    }
    
    .col-9 {
        grid-column-end: span 4;
    }
    
    .col-10 {
        grid-column-end: span 4;
    }
    
    .col-11 {
        grid-column-end: span 4;
    }
    
    .col-12 {
        grid-column-end: span 4;
    }

    .col-13 {
        grid-column-end: span 4;
    }
    
    .col-14 {
        grid-column-end: span 4;
    }
    
    .col-15 {
        grid-column-end: span 4;
    }
    
    .col-16 {
        grid-column-end: span 4;
    }
    
    .col-17 {
        grid-column-end: span 4;
    }
    
    .col-18 {
        grid-column-end: span 4;
    }
    
    .col-19 {
        grid-column-end: span 4;
    }
    
    .col-20 {
        grid-column-end: span 4;
    }
}