.primary {
    background-color: $primary-color;
    font-size: 2rem;
}

.secondary {
    background-color: $secondary-color;
    font-size: 1.5rem;
}

.tertiary {
    background-color: $tertiary-color;
    font-size: 1rem;
}

.hide {
	display: none;
}

.transparent {
	opacity: 0.5;
}

.emphasize {
	font-weight: bolder;
}

.left {
	order: -1;
}

.right {
	order: 1;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.height-50 {
	height: 50%;
}

.cntr {
	text-align: center;
}

.mrg {
    margin: 0 0.5rem;
}

.mrg:first-child {
    margin-top: 0.5rem;
}

.mrg:last-child {
    margin-bottom: 0.5rem
}

.pad {
	padding: 0.5rem;
	// padding: 0 0.5rem;
}

// .pad:first-child {
// 	padding-top: 0.5rem;
// }

// .pad:last-child {
// 	padding-bottom: 0.5rem;
// }

.m-hide {
	@media (max-width: $break) {
		display: none;
	}
}

.m-stretch {
	@media (max-width: $break) {
		width: 100%;
		grid-column-start: 1;
		grid-column-end: -1;
	}
}

.m-first {
	@media (max-width: $break) {
		order: -1;
	}
}

.m-last {
	@media (max-width: $break) {
		order: 1;
	}
}