.primary {
    background-color: $primary-color;
    font-size: 2rem;
}

.secondary {
    background-color: $secondary-color;
    font-size: 1.5rem;
}

.tertiary {
    background-color: $tertiary-color;
    font-size: 1rem;
}

.hide {
	display: none;
}

.transparent {
	opacity: 0.5;
}

.emphasize {
	font-weight: bolder;
}

.left {
	order: -1;
}

.right {
	order: 1;
}

.m-hide {
	@media (max-width: 767px) {
		display: none;
	}
}

.m-stretch {
	@media (max-width: 767px) {
		width: 100%;
		grid-column-start: 1;
		grid-column-end: -1;
	}
}