.primary {
    background-color: $main-color-1;
    font-size: 2rem;
}

.secondary {
    background-color: $main-color-2;
    font-size: 1.5rem;
}

.tertiary {
    background-color: $main-color-3;
    font-size: 1rem;
}

.minor-color-1 {
	background-color: $minor-color-1;
}

.hide {
	display: none;
}

.transparent {
	opacity: 0.5;
}

.emphasize {
	font-weight: bolder;
}

.left {
	order: -1;
}

.right {
	order: 1;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.height-50 {
	height: 50%;
}

.cntr {
	text-align: center;
}

.mrg {
    margin: 0 0.5rem;
}

.mrg:first-child {
    margin-top: 0.5rem;
}

.mrg:last-child {
    margin-bottom: 0.5rem
}

.pad {
	padding: 0.5rem;
	// padding: 0 0.5rem;
}

// .pad:first-child {
// 	padding-top: 0.5rem;
// }

// .pad:last-child {
// 	padding-bottom: 0.5rem;
// }

.float-l {
	float: left;
}

.float-r {
	float: right;
}

@media (max-width: $break) {
	.m-hide {
		display: none;
	}

	.m-stretch {
		width: 100%;
		grid-column-start: 1;
		grid-column-end: -1;
	}

	.m-first {
		order: -1;
	}

	.m-last {
		order: 1;
	}

	.m-pivot {
		flex-direction: column;
	}
}













