li {
    line-height: 21px;
    font-size: 95%;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    margin-bottom: 1rem;
}

a {
    color: #0645ad;
    text-decoration: none;
}

a:visited {
    color: #0b0080;
}

h3 {
    color: rgb(84,89,93);
    // border-bottom-width: 1px; 
    // border-bottom-style: solid;
    background-image: linear-gradient(to right,rgba(200,204,209,0) 0,#c8ccd1 33%,#c8ccd1 66%,rgba(200,204,209,0) 100%);
    background-position: center bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
}

img {
    object-fit: contain;
    width: inherit;
}
