li {
    padding: 0.5rem 0;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
}

a {
    color: #0645ad;
    text-decoration: none;
}

a:visited {
    color: #0b0080;
}