li {
    // padding: 0.5rem 0;
    line-height: 21px;
    font-size: 95%;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
}

a {
    color: #0645ad;
    text-decoration: none;
}

a:visited {
    color: #0b0080;
}

h3 {
    color: rgb(84,89,93);
    border-bottom: 1px solid rgb(84,89,93);
}