$site-border-color: rgb(167, 215, 249);

#sidebar {
    border-right: 1px solid $site-border-color;
    box-sizing: border-box;
}

#welcome-banner {
    height: 90.925
}

#main {
    padding: 20px 24px 24px 24px;
}