#sidebar {
    box-sizing: border-box;
    margin-left: 0.5rem;
    width: 10rem;
}

#welcome-banner {
    height: 90.925;
    border: 1px solid rgb(221, 221, 221);
}

#main {
    border-left: 1px solid $site-border-color;
    border-bottom: 1px solid $site-border-color;
    padding: 20px 24px 24px 24px;
    box-sizing: border-box;
    gap: 6px;
}

.quarter-item {
    flex: 1 0 25%;
    padding: 6px 4px;
    box-sizing: border-box;
    height: 42px;
    min-width: 280px;
    display: flex;
    align-items: center;
    margin: 6px;
}

.hor-ul > .quarter-item {
    margin: 6px 0;
}

.quarter-item > img {
    height: inherit;
    object-fit: contain;
}

.quarter-item > div {
    padding: 0.375rem 0.25rem;
    box-sizing: border-box;
}

.button-image {
    width: 88px;
    height: 33px;
}

.input-container {
    padding: 0.4rem;
    box-sizing: border-box;
    border-bottom: 1px solid $site-border-color;
    height: 100%;
    display: flex;
    align-items: center;
}

.input-container > * {
    
    height: 100%;
    width: 300px;
}

.spacer {
	// background-image: linear-gradient(to bottom,#ffffff 50%,#f6f6f6 100%);
}