@import "HTML5_Reset";
@import "Variables/computed_variables";
@import "tag_defaults";
@import "grid";
@import "flex";
@import "Components/components_index";
@import "blocks";
@import "pure_utilities";
@import "user_ID_tweaks";

.block-list > li {
    width: 100%;
    border-top: $border-test;
    border-left: $border-test;
    border-right: $border-test;
    box-sizing: border-box;
    padding-left: 0.5rem;
}

.block-list > li:last-child {
    border-bottom: $border-test;
}

a:focus {
    outline: $border-test;
}

.hor-ul {
    display: flex;
}

.hor-ul > li {
    margin-right: 0.75rem;
}

.inline-ul {
    list-style-type: disc;
    list-style-position: inside;
}

.inline-ul > li:first-child {
    list-style: none;
}


.bul-ul {
    list-style-type: disc;
    list-style-position: inside;
}


@mixin colorCoordinate($color) {
    background-color: $color;
    border: 1px solid darken($color, 10%);
}

.redCoordinate {
    @include colorCoordinate(red);
}