@import "HTML5_Reset";
@import "Variables/computed_variables";
@import "tag_defaults";
@import "grid";
@import "flex";
@import "Components/components_index";
@import "blocks";
@import "pure_utilities";
@import "user_ID_tweaks";

.block-list > li {
    width: 100%;
    border-top: $border-test;
    border-left: $border-test;
    border-right: $border-test;
    box-sizing: border-box;
    padding-left: 0.5rem;
}

.block-list > li:last-child {
    border-bottom: $border-test;
}

a:focus {
    outline: $border-test;
}

li {
    list-style: none;
    position: relative;
    left: 10px;
}

li::before {
    content: "•";
    position: absolute;
    left: -10px;
}

.nobul {
    left: 0;
}

.nobul::before {
    content: "";
}

.hor-ul {
    display: flex;
}

.hor-ul > li {
    margin-right: 0.75rem;
}

.inline-ul > li {
    list-style-type: none;
    position: relative;
}

.inline-ul > li::before {
    content: " · ";
    // position: absolute;
    // lekft: -10px;
}

.inline-ul > li:first-child::before {
    content: "";
}

// .inline-ul > li:first-child {
//     list-style: none;
// }

.inline-ul-preface {
    list-style-type: disc;
    list-style-position: inside;
}

.inline-ul-preface > li:first-child, :nth-child(2) {
    list-style: none;
}

.bul-ul {
    list-style-type: disc;
    list-style-position: inside;
}


@mixin colorCoordinate($color) {
    background-color: $color;
    border: 1px solid darken($color, 10%);
}

.redCoordinate {
    @include colorCoordinate(red);
}

.tab {
    border-bottom: 1px solid $site-border-color;
}

.small-port {
    width: 120px;
    height: 155px
}

.small-land {
    width: 160px;
    object-fit: contain;
}

.big-land {
    width: 400px;
    object-fit: contain;
}