.navbar {
    width: 100%;
    height: 2.5rem;
    // padding: 0 1rem;
    box-sizing: border-box;
    background-color: $main-color-3;
    display: flex;
    align-items: center;
}

.nav-group {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}