.hor-ul > .active-tab {
    margin: 0;
}

.hor-ul > .tab {
    margin: 0;
}

.active-tab {
    padding: 0.25rem 0.5rem;
    border-left: 1px solid rgba(143, 143, 143, 0.2);
    display: flex;
    align-items: flex-end;
    font-size: 13px;
}

.tab {
    padding: 0.25rem 0.5rem;
    // border-left: 1px solid $site-border-color;
    // border-right: 1px solid $site-border-color;
    display: flex;
    align-items: flex-end;
    border-left: 1px solid rgba(143, 143, 143, 0.2);
    border-bottom: 1px solid $site-border-color;
    background-color: rgba(0, 0, 0, 0);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#eef7ff 100%);
    background-size: 100% 100%;
    font-size: 13px;
}

.tab:nth-last-child(2) {
    border-right: 1px solid rgba(143, 143, 143, 0.2);
}


.tab > * {
    display: flex;
    align-items: flex-end;
}

